.content-container h2 {
    margin-block: .5rem;
    color: var(--primary-color);
}

.content-container hr {
    border-color: var(--hr-color);
    border-style: solid;
}

.content-container + .content-container {
    margin-top: 1.8rem;
}

.side-container .content-container {
    margin-inline: 1rem;
}

.side-container .content-container hr {
    border-color: var(--primary-color);
    border-style: solid;
}