.wrap-container {
    height: 100vh;
    background-color: var(--outside-background-color);
}

.root-container {
    background-color: var(--background-color);
}

.body-container {
    max-width: 8.5in;
    margin-block: 0rem;
    margin-inline: auto;
    padding-inline: 4rem;
    padding-block: 3rem;
}

@media print {
    .body-container {
        margin: 0rem;
        padding: 2rem;
        padding-bottom: 0rem;
    }
}

header {
    margin-bottom: 1.8em;
}

header div {
    display: flex;
}

header h1 {
    flex: 8;
    margin-top: 0rem;
    color: var(--primary-color);

    /* Uhm? */
    cursor: help;
}

header.unselectable {
    user-select: none;
}

header span.langs {
    flex: 2;
    margin-top: 0rem;
    text-align: right;
    color: var(--secondary-color);
    font-weight: bolder;
}

header span.langs span {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

header span.langs span.active{
    text-decoration: underline;
}

header hr {
    border-color: var(--hr-color);
    border-style: solid;
}

.page-container {
    display: -webkit-flex;
    display: flex;
    column-gap: 1.8em;
}

@media screen and (max-width: 6.5in) {
    header div {
        flex-direction: column;
    }

    header h1 {
        text-align: center;
        line-height: 1em;
    }

    header span.langs {
        text-align: center;
    }

    .page-container {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }
}

@media print {
    header span.langs {
        display: none;
    }
    
    .wrap-container {
        background-color: var(--background-color);
    }
}