.side-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: var(--side-color);
}

@media screen and (max-width: 6.5in) {
    .side-container {
        margin-bottom: 1.8rem;
    }
}
